[submodule "zsh/.config/zsh/zsh-vi-mode"]
	path = zsh/.config/zsh/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "zsh/.config/zsh/completion"]
	path = zsh/.config/zsh/completion
	url = git@github.com:zimfw/completion.git
[submodule "zsh/.config/zsh/fzf"]
	path = zsh/.config/zsh/fzf
	url = git@github.com:zimfw/fzf.git
